# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# OS files
.DS_Store
thumbs.db

# IDE files
.vscode
.idea

# Temporary files & folders
tmp

# Prevent base utility, type, or common packages. Code that belongs in either
# of these folders should be within an appropriately named package such as
# `*/vehicle/car.go`
# https://dave.cheney.net/2019/01/08/avoid-package-names-like-base-util-or-common
**/utilities/*.go
**/types/*.go
**/common/*.go

.env
